@import "../../styles/variables";
.Home{
    min-height: calc(100vh - 60px);
    height: auto;
    margin: 0 auto;
    max-width: 935px;
    padding: 30px 20px;
    position: relative;
    background-color: $bg_white;
    display:flex; 
    padding-block-start: 90px;
    .suggestion-container{
        display: inline-block;
        
        width: 100%;
        max-width: 330px;
    }
    .loading *{
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
    }
    .loading{
        padding: 5rem;
        background-color: rgba($bg_white,1);
        animation: loading 2.5s ease-in-out;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
    @keyframes loading {
        from{
            z-index: 1;
        }
        to{
            z-index: -1;
        }
    }

    .container{
        margin-right: 28px;
        gap: 30px;
        max-width: 614px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .posts{
            width: inherit;
            min-height: 80vh;
            .Post{
                border: 1px solid $border;
                background-color: $white;
                max-height: inherit;
                width: inherit;
                max-width: inherit;
                border-radius: 3px;
                margin-bottom: 24px;
                .top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 14px 1rem;
                    svg{
                        cursor: pointer;
                        &.normal-state{
                            color: $t;
                            fill: $t;
                        }
                        &:hover{
                            color: rgba($t,0.5);
                            fill: rgba($t,0.5);
                        }
                    }
                    .dropdown-container{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.65);
                        z-index: 123456789;
                        display:flex; 
                        align-items:center; 
                        justify-content:center;
                        transition: opacity 0.125s ease-in-out, pointer-events 0.125s ease-in-out ,visibility 0.125s ease-in-out;
                        &.visible{
                            visibility:visible;
                            opacity: 1;
                            pointer-events: all;
                        } 
                        &.not-visible{
                            visibility:hidden;
                            opacity: 0;
                            pointer-events: none;
                        }
                        .dropdown{
                            background-color: rgba($bg_white,1);
                            width: clamp(260px,400px,600px);
                            display: flex;
                            flex-direction: column;
                            border-radius: 1rem;
                            .dropdown-item{
                                min-height: 48px;
                                padding: 4px 8px;
                                text-align: center;
                                &:not(:first-child){
                                    border-top: 1px solid #dbdbdb;
                                }
                                &:last-child{
                                    border-bottom-left-radius: 1rem ;
                                    border-bottom-right-radius: 1rem ;
                                }
                                &:first-child{
                                    border-top-left-radius: 1rem ;
                                    border-top-right-radius: 1rem ;
                                }
                                &:hover{
                                    background-color: rgba($t,0.05);
                                }
                                &:focus{
                                    background-color: rgba($t,0.1);
                                    color: inherit;
                                }
                                &.danger{
                                    color: $red;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    .person{
                        display: flex;
                        align-items: center;
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .text{
                            display: flex;
                            flex: 1 1 auto;
                            min-height: 0;
                            min-width: 0;
                            flex-direction: column;
                            .Title{
                                font-weight: 600;
                                color: $t;
                                font-size: 14px;
                                line-height: 18px;
                                padding-bottom: 4px;
                                display: flex;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            p{
                                margin: 0 !important;
                                display: inline-block !important;
                                font-size: 14px;
                                line-height: 18px;
                                white-space: nowrap;
                                width: 300px;
                               
                            }
                        }
                    }
                }
                overflow: hidden;
                .middle, img.middle{
                    width: inherit;
                    border: 1px solid $border;
                    border-top: none;
                    border-bottom: none;
                    width: 614px;
                    height: 614px;
                    object-fit: cover;
                    
                }
                div.middle {
                    position: relative;
                    
                }
                .bottom{
                    .icon{
                        padding: 0.5rem;
                    }
                    svg{
                        cursor: pointer;
                        &.normal-state{
                            color: $t;
                            fill: $t;
                        }
                        &:hover{
                            color: rgba($t,0.5);
                            fill: rgba($t,0.5);
                        }
                        &.liked{
                            fill:$red;
                            color: $red;
                        }
                    }
                    .first{
                        padding: 6px 1rem 8px;
                        margin-top: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .icons{
                            display:flex; 
                            align-items:center; 
                        }
                        
                    }
                    .second,.third,.fourth, .caption{
                        p{
                            margin: 0;
                        }
                        font-weight: 600;
                        color: $t;
                        font-size: 14px;
                        line-height: 18px;
                        padding-bottom: 4px;
                        display: flex;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding:0 1.5rem 0.5rem;
                    }
                    
                    .caption{
                        p:first-child{
                            margin-right: 3px;
                        }
                        p:last-child{
                         font-weight: 400;
                        }
                     }
                    .third,.fourth{
                        color:#8E8E8E ;
                    }
                    .fourth{
                        font-size: 10px;
                        margin-bottom: 0.25rem;
                    }
                    .comment{
                        padding: 6px 1rem;
                        border-top: 1px solid $border;
                        display: flex;
                        align-items: center;
                        .icon{
                            padding: 8px 1rem;
                            padding-left: 8px;
                        }
                        textarea{
                            font-family: inherit;
                            background: 0 0;
                            border: 0;
                            color: $t;
                            flex-grow: 1;
                            font-size: 14px;
                            height: 18px ;
                            max-height: 80px;
                            outline: 0;
                            padding: 0;
                            resize: none;
                            width: 0;
                            &::placeholder{
                                color: #8E8E8E;
                                font-weight:400;
                            }
                        }
                        button{
                            border: 0;
                            color: #0095f6;
                            position: relative;
                            appearance: none;
                            background: 0 0;
                            box-sizing: border-box;
                            
                            display: block;
                            font-weight: 600;
                            padding: 5px 9px;

                            text-align: center;
                            text-transform: inherit;
                            text-overflow: ellipsis;

                            user-select: none;
                            cursor: pointer;
                            width: auto;
                            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            &:hover{
                                color: #0094f683;
                            }
                        }
                    }
                }
            }
        }
        .stories-container{
            position: relative;
            &::after,&::before{
                content: "";
                position: absolute;
                top: 0;
                
                height: 100%;
                width: 50px;
                background: linear-gradient(to right    , rgba($t,0), rgba($bg_white,0.05));
            }
            &::before{
                left: 0;
                z-index: 2;
                background: linear-gradient(to left    , rgba($t,0), rgba($t,0.025));
            } 
            &::after{
                right: 0;
            }
        }
    }

}